.hidden {
    display: none;
}

.hidden-menu {
    transition: .5s;
    transform: translateX(-400px);
    animation: hideMenu 1s infinite;
}

.full-width {
    transition: .5s;
    max-width: 100%;
}

@keyframes hideMenu {
    from {display: block; }
    to {display: none; }
}

